body{
    margin: 0;
}

img{
    width: 100%;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.btn_registro{
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    font-family: Oswald;
    background-color: white;
    color: rgb(0,179,144);
    border-color: rgb(0,179,144);
    transition: all 0.2s ease-in-out;
}

.btn_registro:hover{
    background-color: rgb(0,179,144);
    color: white;
    cursor: pointer;
}

.nav_section_container{
    margin-top: -5px;
    display: flex;
    justify-content: center;
    background-color: rgb(0,179,144);
    color: white;
    padding: 20px;
}

.btn_nav_main{
    margin-right: 30px;
    font-family: Oswald;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
}

.btn_nav_main:hover{
    cursor: pointer;
    color: blue;
}

.nav_menu.scrolled{
    padding: 0px;
}

#nosotros_ttl{
    text-align: center;
    font-family: Merriweather;
    font-size: 1.9em;
    margin: 40px 0px;
}

.container_nosotros{
    margin: 0 100px;
}

h3{
    color: rgb(0,179,144);
    font-family: Merriweather;
}

p{
    font-family: Merriweather;
}

.container_date_alta{
    background-color: grey;
}

.date_alta{
    display: flex;
    justify-content: space-between;
}

.txt_alta.izquierda{
    border-right: 2px solid black;
    
}

#txt_instrucciones{
    margin-right: 400px;
}




